[BEGINVDF]
Comment=This patch (Gothic 1 and Gothic 2 NotR) adds an on-screen compass to the game.%%NThe size can be adjusted in the Gothic.ini. Graphics made by Sporthistoriker
BaseDir=.\
VDFName=.\Compass.vdf

[FILES]
; Resources (list the specific files from _work here)
_work\Data\Textures\_compiled\NINJA_COMPASS_BACK-C.TEX
_work\Data\Textures\_compiled\NINJA_COMPASS_NEEDLE-C.TEX

; Script files
Ninja\Compass\* -r

[EXCLUDE]
_work\Data\Scripts\* -r
*.vm
*.vdf
*.bat

[INCLUDE]

[ENDVDF]
